*{
    margin: 0;
    padding: 0;

}
body{
    overflow-x: hidden;
    font-family: 'Josefin Sans';
    background-color: white;
}

#noBGlogo{
    width: 150px;
    height: 100px;
}

#delicious{
    font-size: 6.5rem;
    color: white;
}

#findrec{
    font-size: 4rem;
    color: black;
}
#bgPic760{
    display: none;
    }




#searchButton{
    position: relative;
    left: 215px;
    height: 32px;
    width: 32px;
    border-radius: 10px;
    background-color: #a31621;
    border: none;
}

#searchBox{
    width: 225px;
    height: 40px;
    border-radius: 15px;
    border: none;
}
#cook{
    width: 175px;
    height: 150px;
}
#chef{
    height: 150px;
    width: 100px;
}


/*classes*/
.moreInfo {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;

}

.center{
    position: absolute;
    height: fit-content;
    width: fit-content;

}

.searchSection{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.bg{
    display:flex;
    justify-content: center;
    align-items: center;
}

.navBar{
    display:flex;
    justify-content:space-between;
    justify-self: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.navBarLinks{
    display: flex;
    gap: 25%;
}

.navBarLinks a{
    text-decoration: none;
    color: black;
    font-size: 1rem;

}
.navBarLinks a:hover{
    color: #a31621;
}

.navBar button:hover{
    color: #a31621;
}

.Icons button{
    border: none;
    width:fit-content;
    background-color: white;
}

.Icons{
    display: flex;
    height:100px;
    width:90px;
    gap: 20%;
    justify-content: center;
}

/* 2xl */
@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {
  
   

}

/* md */
@media (max-width: 768px) {
     #delicious{
    font-size: 5rem;

    }
    #findrec{
    font-size: 2.5rem;
    }
    .center {
            text-align: center;
    }
    
    .navBarLinks{
        display: none;
    }
    #bgPic{
        display: none;
    }
    #bgPic760{
        display: block;
    }
    .moreInfo {
        margin-top: 100px;
        display: flex;
        justify-content: space-evenly;
    }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {}
