*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Josefin Sans';


}   
button:hover{
    cursor: pointer;
    
}

li{
    margin: 10px;
    text-decoration: none;

}

.SocMed a{
    text-decoration: none;
    color: aliceblue;
}

body{
    overflow-x: hidden;
    background-color: white;
}

footer{
    color: aliceblue;

}
footer img{
    margin-right:10px;
}

#instagram{
    margin-bottom: -5px;
}
#X{
    margin-bottom: -5px;

}
#fb{
    margin-bottom: -5px;
}

#noBGlogo{
    height: 100px;

}

#delicious{
    font-size: 6.5rem;
    color: white;
}

#findrec{
    font-size: 4rem;
    color: black;
}
#bgPic760{
    display: none;
}

#searchButton{
    position: relative;
    left: 215px;
    height: 32px;
    width: 32px;
    border-radius: 10px;
    background-color: #a31621;
    border: none;
}
#searchButton:hover{
    opacity: 90%;

}  

#searchBox{
    width: 225px;
    height: 40px;
    border-radius: 15px;
    border: none;
}
#cook{
    width: 160px;
    height: 150px;
}
#p1{

    width: 200px;
}
#c, #d{
    border-radius: 25px;
}
#buttonDiv{
    width:fit-content;
    height: fit-content;
    justify-self: center;
    margin-top: 50px;
}

#HealthyMealsT{
    height: fit-content; 
    width: 450px; 
    font-size:4rem;
    justify-self: right;

}
#easyEats{
    height: fit-content; 
    width: 450px; 
    font-size:4rem;
}
.carousel{
    overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
/*classes*/
.TRText{
    text-align: center;
    color: #a31621;
    margin-bottom: 50px;
    justify-content: center;
}
.TRPics img{    
    border-radius: 25px;
}

.TRPics button{    
    border: none;
    background-color: white;
    height: fit-content;
}
.TRPics button :hover{
    opacity: 50%;

}

.TRPics{
    align-items: center;
    justify-content: space-around;
    display: flex;

}

.TopRecipes{
    margin-top: 100px;
    margin-bottom: 100px;
}

.Footer1{
    height: 350px;
    background-color: #1E212B;
    margin-top: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.EasyEatsB:hover{
    opacity: 90%;
    
}

.EasyEatsB{
    border: none;
    height: 30px;
    border-radius: 25px;
    width: 100px;
    background-color: #a31621;
    color: aliceblue;
    margin-top: 100px;
}
.TwPButton{
    width:fit-content;
    height: 40px;
    justify-self: center;
}
.TwPButton:hover{

}

.HealthyMeals{
    justify-items: right;
    text-align: right;
    margin-top: 200px;
    display: flex;

}

.TextTwP{
    width: 500px;
    font-size: 2rem;
    margin-top: 50px;
}

.easyEats{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.textWithPics{
    justify-items: center;  
    margin-top: 200px;
}

.moreInfo div{
    text-align: center;
    width: 200px;
}

.moreInfo {
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;

}

.center{
    position: absolute;
    height: fit-content;
    width: fit-content;

}

.searchSection{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.bg{
    display:flex;
    justify-content: center;
    align-items: center;

}

.navBar{
    display:flex;
    justify-content:space-between;
    justify-self: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.navBarLinks{
    display: flex;
    gap: 25%;
}

.navBarLinks a{
    text-decoration: none;
    color: black;
    font-size: 1rem;

}
.navBarLinks a:hover{
    color: #a31621;
}

.navBar button:hover{
    color: #a31621;
}

.Icons button{
    border: none;
    width:fit-content;
    background-color: white;

}

.Icons{
    display: flex;
    height:50px;
    width:90px;
    gap: 20%;
    justify-content: center;
}
